body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #3f2f4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;
}

.main {
    background-color: #3f2f4e;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 64px 128px;
}

.info {
    background-color: rgb(29, 29, 29);
    text-align: center;
    padding-bottom: 128px;
}

.quote {
    background-color: #29212b;
    padding: 64px 128px;
}

.reminder {
    background-color: rgb(29, 29, 29);
    padding: 64px;
}

.footer {
    color: #F9FAF8;
    background-color: #3f2f4e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu-item {
    color: #F9FAF8;
    text-decoration: none;
}

.main-content {
    width: 450px;
}

.main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

.main-desc {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.main-image {
    border-radius: 16px;
    height: 225px;
    width: auto;
}

.info-title,
.quote-text {
    font-size: 36px;
}

.info-title {
    color: rgb(192, 192, 192);
    font-weight: 1000;
    padding: 32px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.item-img {
    border-radius: 16px;
    border: 3px solid #e08b29;
    margin-bottom: 4px;
    width: 160px;
    height: 160px;
}

.quote-container {
    width: 800px;
    margin: 0 auto;
}

.quote-text {
    color: rgb(192, 192, 192);
    font-size: 32px;
    font-style: italic;
}

.quote-name {
    color: rgb(192, 192, 192);
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.reminder-text {
    color: #F9FAF8;
}

.reminder-box {
    border-radius: 16px;
    width: 700px;
    background-color: #e08b29;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 32px 64px;
    margin: 0 auto;
}

.reminder-msg {
    font-weight: bold;
    font-size: 24px;
}

.signup-btn,
.reminder-btn {
    color: #F9FAF8;
    background-color: #e08b29;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    padding: 8px 28px;
}

.reminder-btn {
    border: 2px solid #F9FAF8;
}